[v-cloak]{
    display: none;
}
.one-title, .two-title{
    cursor: default;
}
/*
appbar
 */
.example-appbar {
    position: fixed;
    left: 256px;
    right: 0;
    top: 0;
    width: auto;
    -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
    transition: all .45s cubic-bezier(.23,1,.32,1);
}
.exmaples-nav-appbar.mu-appbar {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.example-appbar.nav-hide {
    left: 0;
}
/*
drawer
 */
.app-drawer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.exmaple-drawer-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.user-info-box{
    text-align: center;
    margin: 10px 5px;
    padding: 5px 20px;
    background-color: lightblue;
    border: 0.1px solid lightgreen;
    border-radius: 5px;
}
.user-info-box .box-icon{
    cursor: pointer;
}
.user-info-box .one-title{
    margin: 10px 0 0;
    border-top: 1px solid white;
    padding: 3px 0;
    font-size: 18px;
    font-weight: bold;
}
.user-info-box .two-title{
    padding-bottom: 10px;
    font-size: 12px;
}
.mu-item-title{
    font-size: 18px;
}
.active-color {
    color: #7e57c2;
}
/*
content
 */
.example-content {
    padding-top: 56px;
    padding-left: 256px;
    -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
    transition: all .45s cubic-bezier(.23,1,.32,1);
}
@media (min-width: 480px){
    .example-content {
        padding-top: 64px;
    }
}
.example-content.nav-hide {
    padding-left: 0;
}
.content-wrapper {
    padding: 10px;
}
/*
主页
 */
.home .bc-title{
    height: 420px;
    background: url("../source/image/company_case_logo.png") no-repeat center 30px, rgb(0, 188, 212);
    position: relative;
    top: 0;
    left: 0;
}
.home .bc-title .title{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 230px;
}
.home .bc-title .title .one-title{
    cursor: pointer;
    font-size: 46px;
    font-family: 楷体;
    font-weight: bold;
    padding: 32px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home .bc-title .title .two-title{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}
.home .content-box, .home .content-top, .home .content-bottom, .home .foot{
    cursor: default;
    text-align: center;
    padding: 40px 24px;
}
.home .content-top, .home .content-bottom{
    background-color: rgb(238, 238, 238);
}
.home .content-top p, .home .content-bottom p{
    max-width: 700px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.87);
}
.home .content-box ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.home .content-box ul li{
    width: 280px;
    height: 360px;
    padding: 10px 3px;
}
.home .content-box ul li .item{
    display: block;
    width: 100%;
    height: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.home .content-box ul li .item:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
}
.home .content-box ul li .item .top{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(238, 238, 238);
    line-height: 64px;
}
.home .content-box ul li .item .item-contain{
    cursor: pointer;
    height: 276px;
    background-color: #5d9cec;
}
.home .foot{
    background-color: rgb(0, 0, 0);
}
.home .foot .one-p{
    margin: 0 auto;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.54);
    max-width: 356px;
}
.home .foot a{
    cursor: pointer;
}
.home .foot img{
    height: 20px;
}
.home .foot .two-p{
    margin: 10px auto;
    color: rgba(255, 255, 255, 0.54);
    line-height: 25px;
    font-size: 12px;
}