/**
toast
 */
.toast{
    position: fixed;
    top: 15px;
    left: 0;
    z-index: 1099;
    width: 100%;
    height: 36px;
    background-color: rgba(0, 0, 0, 0);
    animation: toastshow 500ms linear;
}
.toast div{
    margin: 0 auto;
    width: 400px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 23px;
    font-family: 楷体;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: white;
}
.toast-error{
    background-color: rgb(255, 100, 100);
}
.toast-success{
    background-color: lightseagreen;
}
@keyframes toastshow {
    from{
        top: -50px;
    }
    to{
        top: 15px;
    }
}