<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swjtu.SYWeiServers.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.swjtu.SYWeiServers.entity.Employee" >
    <result column="EmpID" property="empid" jdbcType="CHAR" />
    <result column="EmpNo" property="empno" jdbcType="VARCHAR" />
    <result column="EmpName" property="empname" jdbcType="NVARCHAR" />
    <result column="DeptID" property="deptid" jdbcType="CHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Tel" property="tel" jdbcType="VARCHAR" />
    <result column="ModDate" property="moddate" jdbcType="TIMESTAMP" />
    <result column="FlagTrashed" property="flagtrashed" jdbcType="BIT" />
    <result column="FlagDeleted" property="flagdeleted" jdbcType="BIT" />
    <result column="PropertyCols" property="propertycols" jdbcType="VARCHAR" />
    <result column="InquiryCols" property="inquirycols" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="VARCHAR" />
    <result column="RollIn" property="rollin" jdbcType="TIMESTAMP" />
    <result column="RollOut" property="rollout" jdbcType="TIMESTAMP" />
    <result column="PositionID" property="positionid" jdbcType="CHAR" />
    <result column="ExDate" property="exdate" jdbcType="TIMESTAMP" />
    <result column="Sex" property="sex" jdbcType="CHAR" />
    <result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="IDCard" property="idcard" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Education" property="education" jdbcType="VARCHAR" />
    <result column="Speciality" property="speciality" jdbcType="VARCHAR" />
    <result column="EMail" property="email" jdbcType="VARCHAR" />
    <result column="ContractCols" property="contractcols" jdbcType="VARCHAR" />
    <result column="PwdDate" property="pwddate" jdbcType="TIMESTAMP" />
    <result column="Signer" property="signer" jdbcType="CHAR" />
    <result column="ACL3" property="acl3" jdbcType="VARCHAR" />
    <result column="ACL1" property="acl1" jdbcType="VARCHAR" />
    <result column="ACL2" property="acl2" jdbcType="VARCHAR" />
    <result column="ACL6" property="acl6" jdbcType="VARCHAR" />
    <result column="JoinDate" property="joindate" jdbcType="TIMESTAMP" />
    <result column="Folk" property="folk" jdbcType="VARCHAR" />
    <result column="Polity" property="polity" jdbcType="VARCHAR" />
    <result column="Graduate" property="graduate" jdbcType="VARCHAR" />
    <result column="TechTitle" property="techtitle" jdbcType="VARCHAR" />
    <result column="Archives" property="archives" jdbcType="VARCHAR" />
    <result column="ACL4" property="acl4" jdbcType="VARCHAR" />
    <result column="Idio" property="idio" jdbcType="VARCHAR" />
    <result column="AwayDate" property="awaydate" jdbcType="TIMESTAMP" />
    <result column="FlagSalary" property="flagsalary" jdbcType="BIT" />
    <result column="Source" property="source" jdbcType="VARCHAR" />
    <result column="DeptIDS" property="deptids" jdbcType="CHAR" />
    <result column="EmpIDS" property="empids" jdbcType="CHAR" />
    <result column="DeptIDZ" property="deptidz" jdbcType="CHAR" />
    <result column="EmpIDZ" property="empidz" jdbcType="CHAR" />
    <result column="FlagRollRet" property="flagrollret" jdbcType="BIT" />
    <result column="ArrDate" property="arrdate" jdbcType="TIMESTAMP" />
    <result column="Arrange" property="arrange" jdbcType="NVARCHAR" />
    <result column="Tiger" property="tiger" jdbcType="DOUBLE" />
    <result column="ACL3R" property="acl3r" jdbcType="VARCHAR" />
    <result column="BankName" property="bankname" jdbcType="NVARCHAR" />
    <result column="BankAcct" property="bankacct" jdbcType="VARCHAR" />
    <result column="PhotoUrl" property="photourl" jdbcType="NVARCHAR" />
    <result column="PassWordWeb" property="passwordweb" jdbcType="NVARCHAR" />
    <result column="TargetD" property="targetd" jdbcType="CHAR" />
    <result column="TargetW" property="targetw" jdbcType="CHAR" />
    <result column="CellPhoneID" property="cellphoneid" jdbcType="VARCHAR" />
    <result column="PersonalAuthCode" property="personalauthcode" jdbcType="VARCHAR" />
    <result column="NativeT" property="nativet" jdbcType="NCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.swjtu.SYWeiServers.entity.Employee" extends="BaseResultMap" >
    <result column="Brief" property="brief" jdbcType="LONGVARCHAR" />
    <result column="Remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EmpID, EmpNo, EmpName, DeptID, Password, Tel, ModDate, FlagTrashed, FlagDeleted, 
    PropertyCols, InquiryCols, Status, RollIn, RollOut, PositionID, ExDate, Sex, Birthday, 
    IDCard, Address, Education, Speciality, EMail, ContractCols, PwdDate, Signer, ACL3, 
    ACL1, ACL2, ACL6, JoinDate, Folk, Polity, Graduate, TechTitle, Archives, ACL4, Idio, 
    AwayDate, FlagSalary, Source, DeptIDS, EmpIDS, DeptIDZ, EmpIDZ, FlagRollRet, ArrDate, 
    Arrange, Tiger, ACL3R, BankName, BankAcct, PhotoUrl, PassWordWeb, TargetD, TargetW, 
    CellPhoneID, PersonalAuthCode, NativeT
  </sql>
  <sql id="Blob_Column_List" >
    Brief, Remark
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.swjtu.SYWeiServers.entity.EmployeeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.swjtu.SYWeiServers.entity.EmployeeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.swjtu.SYWeiServers.entity.EmployeeExample" >
    delete from Employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.swjtu.SYWeiServers.entity.Employee" >
    insert into Employee (EmpID, EmpNo, EmpName, 
      DeptID, Password, Tel, 
      ModDate, FlagTrashed, FlagDeleted, 
      PropertyCols, InquiryCols, Status, 
      RollIn, RollOut, PositionID, 
      ExDate, Sex, Birthday, 
      IDCard, Address, Education, 
      Speciality, EMail, ContractCols, 
      PwdDate, Signer, ACL3, 
      ACL1, ACL2, ACL6, JoinDate, 
      Folk, Polity, Graduate, 
      TechTitle, Archives, ACL4, 
      Idio, AwayDate, FlagSalary, 
      Source, DeptIDS, EmpIDS, 
      DeptIDZ, EmpIDZ, FlagRollRet, 
      ArrDate, Arrange, Tiger, 
      ACL3R, BankName, BankAcct, 
      PhotoUrl, PassWordWeb, TargetD, 
      TargetW, CellPhoneID, PersonalAuthCode, 
      NativeT, Brief, Remark
      )
    values (#{empid,jdbcType=CHAR}, #{empno,jdbcType=VARCHAR}, #{empname,jdbcType=NVARCHAR}, 
      #{deptid,jdbcType=CHAR}, #{password,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{moddate,jdbcType=TIMESTAMP}, #{flagtrashed,jdbcType=BIT}, #{flagdeleted,jdbcType=BIT}, 
      #{propertycols,jdbcType=VARCHAR}, #{inquirycols,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{rollin,jdbcType=TIMESTAMP}, #{rollout,jdbcType=TIMESTAMP}, #{positionid,jdbcType=CHAR}, 
      #{exdate,jdbcType=TIMESTAMP}, #{sex,jdbcType=CHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{idcard,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{speciality,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{contractcols,jdbcType=VARCHAR}, 
      #{pwddate,jdbcType=TIMESTAMP}, #{signer,jdbcType=CHAR}, #{acl3,jdbcType=VARCHAR}, 
      #{acl1,jdbcType=VARCHAR}, #{acl2,jdbcType=VARCHAR}, #{acl6,jdbcType=VARCHAR}, #{joindate,jdbcType=TIMESTAMP}, 
      #{folk,jdbcType=VARCHAR}, #{polity,jdbcType=VARCHAR}, #{graduate,jdbcType=VARCHAR}, 
      #{techtitle,jdbcType=VARCHAR}, #{archives,jdbcType=VARCHAR}, #{acl4,jdbcType=VARCHAR}, 
      #{idio,jdbcType=VARCHAR}, #{awaydate,jdbcType=TIMESTAMP}, #{flagsalary,jdbcType=BIT}, 
      #{source,jdbcType=VARCHAR}, #{deptids,jdbcType=CHAR}, #{empids,jdbcType=CHAR}, 
      #{deptidz,jdbcType=CHAR}, #{empidz,jdbcType=CHAR}, #{flagrollret,jdbcType=BIT}, 
      #{arrdate,jdbcType=TIMESTAMP}, #{arrange,jdbcType=NVARCHAR}, #{tiger,jdbcType=DOUBLE}, 
      #{acl3r,jdbcType=VARCHAR}, #{bankname,jdbcType=NVARCHAR}, #{bankacct,jdbcType=VARCHAR}, 
      #{photourl,jdbcType=NVARCHAR}, #{passwordweb,jdbcType=NVARCHAR}, #{targetd,jdbcType=CHAR}, 
      #{targetw,jdbcType=CHAR}, #{cellphoneid,jdbcType=VARCHAR}, #{personalauthcode,jdbcType=VARCHAR}, 
      #{nativet,jdbcType=NCHAR}, #{brief,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.swjtu.SYWeiServers.entity.Employee" >
    insert into Employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empid != null" >
        EmpID,
      </if>
      <if test="empno != null" >
        EmpNo,
      </if>
      <if test="empname != null" >
        EmpName,
      </if>
      <if test="deptid != null" >
        DeptID,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="tel != null" >
        Tel,
      </if>
      <if test="moddate != null" >
        ModDate,
      </if>
      <if test="flagtrashed != null" >
        FlagTrashed,
      </if>
      <if test="flagdeleted != null" >
        FlagDeleted,
      </if>
      <if test="propertycols != null" >
        PropertyCols,
      </if>
      <if test="inquirycols != null" >
        InquiryCols,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="rollin != null" >
        RollIn,
      </if>
      <if test="rollout != null" >
        RollOut,
      </if>
      <if test="positionid != null" >
        PositionID,
      </if>
      <if test="exdate != null" >
        ExDate,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="idcard != null" >
        IDCard,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="education != null" >
        Education,
      </if>
      <if test="speciality != null" >
        Speciality,
      </if>
      <if test="email != null" >
        EMail,
      </if>
      <if test="contractcols != null" >
        ContractCols,
      </if>
      <if test="pwddate != null" >
        PwdDate,
      </if>
      <if test="signer != null" >
        Signer,
      </if>
      <if test="acl3 != null" >
        ACL3,
      </if>
      <if test="acl1 != null" >
        ACL1,
      </if>
      <if test="acl2 != null" >
        ACL2,
      </if>
      <if test="acl6 != null" >
        ACL6,
      </if>
      <if test="joindate != null" >
        JoinDate,
      </if>
      <if test="folk != null" >
        Folk,
      </if>
      <if test="polity != null" >
        Polity,
      </if>
      <if test="graduate != null" >
        Graduate,
      </if>
      <if test="techtitle != null" >
        TechTitle,
      </if>
      <if test="archives != null" >
        Archives,
      </if>
      <if test="acl4 != null" >
        ACL4,
      </if>
      <if test="idio != null" >
        Idio,
      </if>
      <if test="awaydate != null" >
        AwayDate,
      </if>
      <if test="flagsalary != null" >
        FlagSalary,
      </if>
      <if test="source != null" >
        Source,
      </if>
      <if test="deptids != null" >
        DeptIDS,
      </if>
      <if test="empids != null" >
        EmpIDS,
      </if>
      <if test="deptidz != null" >
        DeptIDZ,
      </if>
      <if test="empidz != null" >
        EmpIDZ,
      </if>
      <if test="flagrollret != null" >
        FlagRollRet,
      </if>
      <if test="arrdate != null" >
        ArrDate,
      </if>
      <if test="arrange != null" >
        Arrange,
      </if>
      <if test="tiger != null" >
        Tiger,
      </if>
      <if test="acl3r != null" >
        ACL3R,
      </if>
      <if test="bankname != null" >
        BankName,
      </if>
      <if test="bankacct != null" >
        BankAcct,
      </if>
      <if test="photourl != null" >
        PhotoUrl,
      </if>
      <if test="passwordweb != null" >
        PassWordWeb,
      </if>
      <if test="targetd != null" >
        TargetD,
      </if>
      <if test="targetw != null" >
        TargetW,
      </if>
      <if test="cellphoneid != null" >
        CellPhoneID,
      </if>
      <if test="personalauthcode != null" >
        PersonalAuthCode,
      </if>
      <if test="nativet != null" >
        NativeT,
      </if>
      <if test="brief != null" >
        Brief,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empid != null" >
        #{empid,jdbcType=CHAR},
      </if>
      <if test="empno != null" >
        #{empno,jdbcType=VARCHAR},
      </if>
      <if test="empname != null" >
        #{empname,jdbcType=NVARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="moddate != null" >
        #{moddate,jdbcType=TIMESTAMP},
      </if>
      <if test="flagtrashed != null" >
        #{flagtrashed,jdbcType=BIT},
      </if>
      <if test="flagdeleted != null" >
        #{flagdeleted,jdbcType=BIT},
      </if>
      <if test="propertycols != null" >
        #{propertycols,jdbcType=VARCHAR},
      </if>
      <if test="inquirycols != null" >
        #{inquirycols,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="rollin != null" >
        #{rollin,jdbcType=TIMESTAMP},
      </if>
      <if test="rollout != null" >
        #{rollout,jdbcType=TIMESTAMP},
      </if>
      <if test="positionid != null" >
        #{positionid,jdbcType=CHAR},
      </if>
      <if test="exdate != null" >
        #{exdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="speciality != null" >
        #{speciality,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contractcols != null" >
        #{contractcols,jdbcType=VARCHAR},
      </if>
      <if test="pwddate != null" >
        #{pwddate,jdbcType=TIMESTAMP},
      </if>
      <if test="signer != null" >
        #{signer,jdbcType=CHAR},
      </if>
      <if test="acl3 != null" >
        #{acl3,jdbcType=VARCHAR},
      </if>
      <if test="acl1 != null" >
        #{acl1,jdbcType=VARCHAR},
      </if>
      <if test="acl2 != null" >
        #{acl2,jdbcType=VARCHAR},
      </if>
      <if test="acl6 != null" >
        #{acl6,jdbcType=VARCHAR},
      </if>
      <if test="joindate != null" >
        #{joindate,jdbcType=TIMESTAMP},
      </if>
      <if test="folk != null" >
        #{folk,jdbcType=VARCHAR},
      </if>
      <if test="polity != null" >
        #{polity,jdbcType=VARCHAR},
      </if>
      <if test="graduate != null" >
        #{graduate,jdbcType=VARCHAR},
      </if>
      <if test="techtitle != null" >
        #{techtitle,jdbcType=VARCHAR},
      </if>
      <if test="archives != null" >
        #{archives,jdbcType=VARCHAR},
      </if>
      <if test="acl4 != null" >
        #{acl4,jdbcType=VARCHAR},
      </if>
      <if test="idio != null" >
        #{idio,jdbcType=VARCHAR},
      </if>
      <if test="awaydate != null" >
        #{awaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="flagsalary != null" >
        #{flagsalary,jdbcType=BIT},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="deptids != null" >
        #{deptids,jdbcType=CHAR},
      </if>
      <if test="empids != null" >
        #{empids,jdbcType=CHAR},
      </if>
      <if test="deptidz != null" >
        #{deptidz,jdbcType=CHAR},
      </if>
      <if test="empidz != null" >
        #{empidz,jdbcType=CHAR},
      </if>
      <if test="flagrollret != null" >
        #{flagrollret,jdbcType=BIT},
      </if>
      <if test="arrdate != null" >
        #{arrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="arrange != null" >
        #{arrange,jdbcType=NVARCHAR},
      </if>
      <if test="tiger != null" >
        #{tiger,jdbcType=DOUBLE},
      </if>
      <if test="acl3r != null" >
        #{acl3r,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=NVARCHAR},
      </if>
      <if test="bankacct != null" >
        #{bankacct,jdbcType=VARCHAR},
      </if>
      <if test="photourl != null" >
        #{photourl,jdbcType=NVARCHAR},
      </if>
      <if test="passwordweb != null" >
        #{passwordweb,jdbcType=NVARCHAR},
      </if>
      <if test="targetd != null" >
        #{targetd,jdbcType=CHAR},
      </if>
      <if test="targetw != null" >
        #{targetw,jdbcType=CHAR},
      </if>
      <if test="cellphoneid != null" >
        #{cellphoneid,jdbcType=VARCHAR},
      </if>
      <if test="personalauthcode != null" >
        #{personalauthcode,jdbcType=VARCHAR},
      </if>
      <if test="nativet != null" >
        #{nativet,jdbcType=NCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.swjtu.SYWeiServers.entity.EmployeeExample" resultType="java.lang.Integer" >
    select count(*) from Employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Employee
    <set >
      <if test="record.empid != null" >
        EmpID = #{record.empid,jdbcType=CHAR},
      </if>
      <if test="record.empno != null" >
        EmpNo = #{record.empno,jdbcType=VARCHAR},
      </if>
      <if test="record.empname != null" >
        EmpName = #{record.empname,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptid != null" >
        DeptID = #{record.deptid,jdbcType=CHAR},
      </if>
      <if test="record.password != null" >
        Password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        Tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.moddate != null" >
        ModDate = #{record.moddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flagtrashed != null" >
        FlagTrashed = #{record.flagtrashed,jdbcType=BIT},
      </if>
      <if test="record.flagdeleted != null" >
        FlagDeleted = #{record.flagdeleted,jdbcType=BIT},
      </if>
      <if test="record.propertycols != null" >
        PropertyCols = #{record.propertycols,jdbcType=VARCHAR},
      </if>
      <if test="record.inquirycols != null" >
        InquiryCols = #{record.inquirycols,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.rollin != null" >
        RollIn = #{record.rollin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rollout != null" >
        RollOut = #{record.rollout,jdbcType=TIMESTAMP},
      </if>
      <if test="record.positionid != null" >
        PositionID = #{record.positionid,jdbcType=CHAR},
      </if>
      <if test="record.exdate != null" >
        ExDate = #{record.exdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null" >
        Sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.birthday != null" >
        Birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idcard != null" >
        IDCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        Address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        Education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.speciality != null" >
        Speciality = #{record.speciality,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMail = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.contractcols != null" >
        ContractCols = #{record.contractcols,jdbcType=VARCHAR},
      </if>
      <if test="record.pwddate != null" >
        PwdDate = #{record.pwddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signer != null" >
        Signer = #{record.signer,jdbcType=CHAR},
      </if>
      <if test="record.acl3 != null" >
        ACL3 = #{record.acl3,jdbcType=VARCHAR},
      </if>
      <if test="record.acl1 != null" >
        ACL1 = #{record.acl1,jdbcType=VARCHAR},
      </if>
      <if test="record.acl2 != null" >
        ACL2 = #{record.acl2,jdbcType=VARCHAR},
      </if>
      <if test="record.acl6 != null" >
        ACL6 = #{record.acl6,jdbcType=VARCHAR},
      </if>
      <if test="record.joindate != null" >
        JoinDate = #{record.joindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.folk != null" >
        Folk = #{record.folk,jdbcType=VARCHAR},
      </if>
      <if test="record.polity != null" >
        Polity = #{record.polity,jdbcType=VARCHAR},
      </if>
      <if test="record.graduate != null" >
        Graduate = #{record.graduate,jdbcType=VARCHAR},
      </if>
      <if test="record.techtitle != null" >
        TechTitle = #{record.techtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.archives != null" >
        Archives = #{record.archives,jdbcType=VARCHAR},
      </if>
      <if test="record.acl4 != null" >
        ACL4 = #{record.acl4,jdbcType=VARCHAR},
      </if>
      <if test="record.idio != null" >
        Idio = #{record.idio,jdbcType=VARCHAR},
      </if>
      <if test="record.awaydate != null" >
        AwayDate = #{record.awaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flagsalary != null" >
        FlagSalary = #{record.flagsalary,jdbcType=BIT},
      </if>
      <if test="record.source != null" >
        Source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.deptids != null" >
        DeptIDS = #{record.deptids,jdbcType=CHAR},
      </if>
      <if test="record.empids != null" >
        EmpIDS = #{record.empids,jdbcType=CHAR},
      </if>
      <if test="record.deptidz != null" >
        DeptIDZ = #{record.deptidz,jdbcType=CHAR},
      </if>
      <if test="record.empidz != null" >
        EmpIDZ = #{record.empidz,jdbcType=CHAR},
      </if>
      <if test="record.flagrollret != null" >
        FlagRollRet = #{record.flagrollret,jdbcType=BIT},
      </if>
      <if test="record.arrdate != null" >
        ArrDate = #{record.arrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arrange != null" >
        Arrange = #{record.arrange,jdbcType=NVARCHAR},
      </if>
      <if test="record.tiger != null" >
        Tiger = #{record.tiger,jdbcType=DOUBLE},
      </if>
      <if test="record.acl3r != null" >
        ACL3R = #{record.acl3r,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null" >
        BankName = #{record.bankname,jdbcType=NVARCHAR},
      </if>
      <if test="record.bankacct != null" >
        BankAcct = #{record.bankacct,jdbcType=VARCHAR},
      </if>
      <if test="record.photourl != null" >
        PhotoUrl = #{record.photourl,jdbcType=NVARCHAR},
      </if>
      <if test="record.passwordweb != null" >
        PassWordWeb = #{record.passwordweb,jdbcType=NVARCHAR},
      </if>
      <if test="record.targetd != null" >
        TargetD = #{record.targetd,jdbcType=CHAR},
      </if>
      <if test="record.targetw != null" >
        TargetW = #{record.targetw,jdbcType=CHAR},
      </if>
      <if test="record.cellphoneid != null" >
        CellPhoneID = #{record.cellphoneid,jdbcType=VARCHAR},
      </if>
      <if test="record.personalauthcode != null" >
        PersonalAuthCode = #{record.personalauthcode,jdbcType=VARCHAR},
      </if>
      <if test="record.nativet != null" >
        NativeT = #{record.nativet,jdbcType=NCHAR},
      </if>
      <if test="record.brief != null" >
        Brief = #{record.brief,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update Employee
    set EmpID = #{record.empid,jdbcType=CHAR},
      EmpNo = #{record.empno,jdbcType=VARCHAR},
      EmpName = #{record.empname,jdbcType=NVARCHAR},
      DeptID = #{record.deptid,jdbcType=CHAR},
      Password = #{record.password,jdbcType=VARCHAR},
      Tel = #{record.tel,jdbcType=VARCHAR},
      ModDate = #{record.moddate,jdbcType=TIMESTAMP},
      FlagTrashed = #{record.flagtrashed,jdbcType=BIT},
      FlagDeleted = #{record.flagdeleted,jdbcType=BIT},
      PropertyCols = #{record.propertycols,jdbcType=VARCHAR},
      InquiryCols = #{record.inquirycols,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=VARCHAR},
      RollIn = #{record.rollin,jdbcType=TIMESTAMP},
      RollOut = #{record.rollout,jdbcType=TIMESTAMP},
      PositionID = #{record.positionid,jdbcType=CHAR},
      ExDate = #{record.exdate,jdbcType=TIMESTAMP},
      Sex = #{record.sex,jdbcType=CHAR},
      Birthday = #{record.birthday,jdbcType=TIMESTAMP},
      IDCard = #{record.idcard,jdbcType=VARCHAR},
      Address = #{record.address,jdbcType=VARCHAR},
      Education = #{record.education,jdbcType=VARCHAR},
      Speciality = #{record.speciality,jdbcType=VARCHAR},
      EMail = #{record.email,jdbcType=VARCHAR},
      ContractCols = #{record.contractcols,jdbcType=VARCHAR},
      PwdDate = #{record.pwddate,jdbcType=TIMESTAMP},
      Signer = #{record.signer,jdbcType=CHAR},
      ACL3 = #{record.acl3,jdbcType=VARCHAR},
      ACL1 = #{record.acl1,jdbcType=VARCHAR},
      ACL2 = #{record.acl2,jdbcType=VARCHAR},
      ACL6 = #{record.acl6,jdbcType=VARCHAR},
      JoinDate = #{record.joindate,jdbcType=TIMESTAMP},
      Folk = #{record.folk,jdbcType=VARCHAR},
      Polity = #{record.polity,jdbcType=VARCHAR},
      Graduate = #{record.graduate,jdbcType=VARCHAR},
      TechTitle = #{record.techtitle,jdbcType=VARCHAR},
      Archives = #{record.archives,jdbcType=VARCHAR},
      ACL4 = #{record.acl4,jdbcType=VARCHAR},
      Idio = #{record.idio,jdbcType=VARCHAR},
      AwayDate = #{record.awaydate,jdbcType=TIMESTAMP},
      FlagSalary = #{record.flagsalary,jdbcType=BIT},
      Source = #{record.source,jdbcType=VARCHAR},
      DeptIDS = #{record.deptids,jdbcType=CHAR},
      EmpIDS = #{record.empids,jdbcType=CHAR},
      DeptIDZ = #{record.deptidz,jdbcType=CHAR},
      EmpIDZ = #{record.empidz,jdbcType=CHAR},
      FlagRollRet = #{record.flagrollret,jdbcType=BIT},
      ArrDate = #{record.arrdate,jdbcType=TIMESTAMP},
      Arrange = #{record.arrange,jdbcType=NVARCHAR},
      Tiger = #{record.tiger,jdbcType=DOUBLE},
      ACL3R = #{record.acl3r,jdbcType=VARCHAR},
      BankName = #{record.bankname,jdbcType=NVARCHAR},
      BankAcct = #{record.bankacct,jdbcType=VARCHAR},
      PhotoUrl = #{record.photourl,jdbcType=NVARCHAR},
      PassWordWeb = #{record.passwordweb,jdbcType=NVARCHAR},
      TargetD = #{record.targetd,jdbcType=CHAR},
      TargetW = #{record.targetw,jdbcType=CHAR},
      CellPhoneID = #{record.cellphoneid,jdbcType=VARCHAR},
      PersonalAuthCode = #{record.personalauthcode,jdbcType=VARCHAR},
      NativeT = #{record.nativet,jdbcType=NCHAR},
      Brief = #{record.brief,jdbcType=LONGVARCHAR},
      Remark = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Employee
    set EmpID = #{record.empid,jdbcType=CHAR},
      EmpNo = #{record.empno,jdbcType=VARCHAR},
      EmpName = #{record.empname,jdbcType=NVARCHAR},
      DeptID = #{record.deptid,jdbcType=CHAR},
      Password = #{record.password,jdbcType=VARCHAR},
      Tel = #{record.tel,jdbcType=VARCHAR},
      ModDate = #{record.moddate,jdbcType=TIMESTAMP},
      FlagTrashed = #{record.flagtrashed,jdbcType=BIT},
      FlagDeleted = #{record.flagdeleted,jdbcType=BIT},
      PropertyCols = #{record.propertycols,jdbcType=VARCHAR},
      InquiryCols = #{record.inquirycols,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=VARCHAR},
      RollIn = #{record.rollin,jdbcType=TIMESTAMP},
      RollOut = #{record.rollout,jdbcType=TIMESTAMP},
      PositionID = #{record.positionid,jdbcType=CHAR},
      ExDate = #{record.exdate,jdbcType=TIMESTAMP},
      Sex = #{record.sex,jdbcType=CHAR},
      Birthday = #{record.birthday,jdbcType=TIMESTAMP},
      IDCard = #{record.idcard,jdbcType=VARCHAR},
      Address = #{record.address,jdbcType=VARCHAR},
      Education = #{record.education,jdbcType=VARCHAR},
      Speciality = #{record.speciality,jdbcType=VARCHAR},
      EMail = #{record.email,jdbcType=VARCHAR},
      ContractCols = #{record.contractcols,jdbcType=VARCHAR},
      PwdDate = #{record.pwddate,jdbcType=TIMESTAMP},
      Signer = #{record.signer,jdbcType=CHAR},
      ACL3 = #{record.acl3,jdbcType=VARCHAR},
      ACL1 = #{record.acl1,jdbcType=VARCHAR},
      ACL2 = #{record.acl2,jdbcType=VARCHAR},
      ACL6 = #{record.acl6,jdbcType=VARCHAR},
      JoinDate = #{record.joindate,jdbcType=TIMESTAMP},
      Folk = #{record.folk,jdbcType=VARCHAR},
      Polity = #{record.polity,jdbcType=VARCHAR},
      Graduate = #{record.graduate,jdbcType=VARCHAR},
      TechTitle = #{record.techtitle,jdbcType=VARCHAR},
      Archives = #{record.archives,jdbcType=VARCHAR},
      ACL4 = #{record.acl4,jdbcType=VARCHAR},
      Idio = #{record.idio,jdbcType=VARCHAR},
      AwayDate = #{record.awaydate,jdbcType=TIMESTAMP},
      FlagSalary = #{record.flagsalary,jdbcType=BIT},
      Source = #{record.source,jdbcType=VARCHAR},
      DeptIDS = #{record.deptids,jdbcType=CHAR},
      EmpIDS = #{record.empids,jdbcType=CHAR},
      DeptIDZ = #{record.deptidz,jdbcType=CHAR},
      EmpIDZ = #{record.empidz,jdbcType=CHAR},
      FlagRollRet = #{record.flagrollret,jdbcType=BIT},
      ArrDate = #{record.arrdate,jdbcType=TIMESTAMP},
      Arrange = #{record.arrange,jdbcType=NVARCHAR},
      Tiger = #{record.tiger,jdbcType=DOUBLE},
      ACL3R = #{record.acl3r,jdbcType=VARCHAR},
      BankName = #{record.bankname,jdbcType=NVARCHAR},
      BankAcct = #{record.bankacct,jdbcType=VARCHAR},
      PhotoUrl = #{record.photourl,jdbcType=NVARCHAR},
      PassWordWeb = #{record.passwordweb,jdbcType=NVARCHAR},
      TargetD = #{record.targetd,jdbcType=CHAR},
      TargetW = #{record.targetw,jdbcType=CHAR},
      CellPhoneID = #{record.cellphoneid,jdbcType=VARCHAR},
      PersonalAuthCode = #{record.personalauthcode,jdbcType=VARCHAR},
      NativeT = #{record.nativet,jdbcType=NCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>