<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swjtu.SYWeiServers.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.swjtu.SYWeiServers.entity.Employee" >
    <result column="EmpID" property="empid" jdbcType="CHAR" />
    <result column="EmpNo" property="empno" jdbcType="VARCHAR" />
    <result column="EmpName" property="empname" jdbcType="NVARCHAR" />
    <result column="DeptID" property="deptid" jdbcType="CHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Tel" property="tel" jdbcType="VARCHAR" />
    <result column="ModDate" property="moddate" jdbcType="TIMESTAMP" />
    <result column="FlagTrashed" property="flagtrashed" jdbcType="BIT" />
    <result column="FlagDeleted" property="flagdeleted" jdbcType="BIT" />
    <result column="PropertyCols" property="propertycols" jdbcType="VARCHAR" />
    <result column="InquiryCols" property="inquirycols" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="VARCHAR" />
    <result column="RollIn" property="rollin" jdbcType="TIMESTAMP" />
    <result column="RollOut" property="rollout" jdbcType="TIMESTAMP" />
    <result column="PositionID" property="positionid" jdbcType="CHAR" />
    <result column="ExDate" property="exdate" jdbcType="TIMESTAMP" />
    <result column="Sex" property="sex" jdbcType="CHAR" />
    <result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="IDCard" property="idcard" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Education" property="education" jdbcType="VARCHAR" />
    <result column="Speciality" property="speciality" jdbcType="VARCHAR" />
    <result column="EMail" property="email" jdbcType="VARCHAR" />
    <result column="ContractCols" property="contractcols" jdbcType="VARCHAR" />
    <result column="PwdDate" property="pwddate" jdbcType="TIMESTAMP" />
    <result column="Signer" property="signer" jdbcType="CHAR" />
    <result column="ACL3" property="acl3" jdbcType="VARCHAR" />
    <result column="ACL1" property="acl1" jdbcType="VARCHAR" />
    <result column="ACL2" property="acl2" jdbcType="VARCHAR" />
    <result column="ACL6" property="acl6" jdbcType="VARCHAR" />
    <result column="JoinDate" property="joindate" jdbcType="TIMESTAMP" />
    <result column="Folk" property="folk" jdbcType="VARCHAR" />
    <result column="Polity" property="polity" jdbcType="VARCHAR" />
    <result column="Graduate" property="graduate" jdbcType="VARCHAR" />
    <result column="TechTitle" property="techtitle" jdbcType="VARCHAR" />
    <result column="Archives" property="archives" jdbcType="VARCHAR" />
    <result column="ACL4" property="acl4" jdbcType="VARCHAR" />
    <result column="Idio" property="idio" jdbcType="VARCHAR" />
    <result column="AwayDate" property="awaydate" jdbcType="TIMESTAMP" />
    <result column="FlagSalary" property="flagsalary" jdbcType="BIT" />
    <result column="Source" property="source" jdbcType="VARCHAR" />
    <result column="DeptIDS" property="deptids" jdbcType="CHAR" />
    <result column="EmpIDS" property="empids" jdbcType="CHAR" />
    <result column="DeptIDZ" property="deptidz" jdbcType="CHAR" />
    <result column="EmpIDZ" property="empidz" jdbcType="CHAR" />
    <result column="FlagRollRet" property="flagrollret" jdbcType="BIT" />
    <result column="ArrDate" property="arrdate" jdbcType="TIMESTAMP" />
    <result column="Arrange" property="arrange" jdbcType="NVARCHAR" />
    <result column="Tiger" property="tiger" jdbcType="DOUBLE" />
    <result column="ACL3R" property="acl3r" jdbcType="VARCHAR" />
    <result column="BankName" property="bankname" jdbcType="NVARCHAR" />
    <result column="BankAcct" property="bankacct" jdbcType="VARCHAR" />
    <result column="PhotoUrl" property="photourl" jdbcType="NVARCHAR" />
    <result column="PassWordWeb" property="passwordweb" jdbcType="NVARCHAR" />
    <result column="TargetD" property="targetd" jdbcType="CHAR" />
    <result column="TargetW" property="targetw" jdbcType="CHAR" />
    <result column="CellPhoneID" property="cellphoneid" jdbcType="VARCHAR" />
    <result column="PersonalAuthCode" property="personalauthcode" jdbcType="VARCHAR" />
    <result column="NativeT" property="nativet" jdbcType="NCHAR" />
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="com.swjtu.SYWeiServers.entity.Employee" extends="BaseResultMap" >
    <result column="Brief" property="brief" jdbcType="LONGVARCHAR" />
    <result column="Remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    EmpID, EmpNo, EmpName, DeptID, Password, Tel, ModDate, FlagTrashed, FlagDeleted,
    PropertyCols, InquiryCols, Status, RollIn, RollOut, PositionID, ExDate, Sex, Birthday,
    IDCard, Address, Education, Speciality, EMail, ContractCols, PwdDate, Signer, ACL3,
    ACL1, ACL2, ACL6, JoinDate, Folk, Polity, Graduate, TechTitle, Archives, ACL4, Idio,
    AwayDate, FlagSalary, Source, DeptIDS, EmpIDS, DeptIDZ, EmpIDZ, FlagRollRet, ArrDate,
    Arrange, Tiger, ACL3R, BankName, BankAcct, PhotoUrl, PassWordWeb, TargetD, TargetW,
    CellPhoneID, PersonalAuthCode, NativeT
  </sql>

  <sql id="Blob_Column_List" >
    Brief, Remark
  </sql>

  <insert id="insert" parameterType="com.swjtu.SYWeiServers.entity.Employee"  >
    use ${dbName} insert into Employee
    (EmpID, EmpNo, EmpName,
    DeptID, Password, Tel,
    ModDate, FlagTrashed, FlagDeleted,
    PropertyCols, InquiryCols, Status,
    RollIn, RollOut, PositionID,
    ExDate, Sex, Birthday,
    IDCard, Address, Education,
    Speciality, EMail, ContractCols,
    PwdDate, Signer, ACL3,
    ACL1, ACL2, ACL6, JoinDate,
    Folk, Polity, Graduate,
    TechTitle, Archives, ACL4,
    Idio, AwayDate, FlagSalary,
    Source, DeptIDS, EmpIDS,
    DeptIDZ, EmpIDZ, FlagRollRet,
    ArrDate, Arrange, Tiger,
    ACL3R, BankName, BankAcct,
    PhotoUrl, PassWordWeb, TargetD,
    TargetW, CellPhoneID, PersonalAuthCode,
    NativeT, Brief, Remark
    )
    values (#{entity.empid,jdbcType=CHAR}, #{entity.empno,jdbcType=VARCHAR}, #{entity.empname,jdbcType=NVARCHAR},
    #{entity.deptid,jdbcType=CHAR}, #{entity.password,jdbcType=VARCHAR}, #{entity.tel,jdbcType=VARCHAR},
    #{entity.moddate,jdbcType=TIMESTAMP}, #{entity.flagtrashed,jdbcType=BIT}, #{entity.flagdeleted,jdbcType=BIT},
    #{entity.propertycols,jdbcType=VARCHAR}, #{entity.inquirycols,jdbcType=VARCHAR}, #{entity.status,jdbcType=VARCHAR},
    #{entity.rollin,jdbcType=TIMESTAMP}, #{entity.rollout,jdbcType=TIMESTAMP}, #{entity.positionid,jdbcType=CHAR},
    #{entity.exdate,jdbcType=TIMESTAMP}, #{entity.sex,jdbcType=CHAR}, #{entity.birthday,jdbcType=TIMESTAMP},
    #{entity.idcard,jdbcType=VARCHAR}, #{entity.address,jdbcType=VARCHAR}, #{entity.education,jdbcType=VARCHAR},
    #{entity.speciality,jdbcType=VARCHAR}, #{entity.email,jdbcType=VARCHAR}, #{entity.contractcols,jdbcType=VARCHAR},
    #{entity.pwddate,jdbcType=TIMESTAMP}, #{entity.signer,jdbcType=CHAR}, #{entity.acl3,jdbcType=VARCHAR},
    #{entity.acl1,jdbcType=VARCHAR}, #{entity.acl2,jdbcType=VARCHAR}, #{entity.acl6,jdbcType=VARCHAR}, #{entity.joindate,jdbcType=TIMESTAMP},
    #{entity.folk,jdbcType=VARCHAR}, #{entity.polity,jdbcType=VARCHAR}, #{entity.graduate,jdbcType=VARCHAR},
    #{entity.techtitle,jdbcType=VARCHAR}, #{entity.archives,jdbcType=VARCHAR}, #{entity.acl4,jdbcType=VARCHAR},
    #{entity.idio,jdbcType=VARCHAR}, #{entity.awaydate,jdbcType=TIMESTAMP}, #{entity.flagsalary,jdbcType=BIT},
    #{entity.source,jdbcType=VARCHAR}, #{entity.deptids,jdbcType=CHAR}, #{entity.empids,jdbcType=CHAR},
    #{entity.deptidz,jdbcType=CHAR}, #{entity.empidz,jdbcType=CHAR}, #{entity.flagrollret,jdbcType=BIT},
    #{entity.arrdate,jdbcType=TIMESTAMP}, #{entity.arrange,jdbcType=NVARCHAR}, #{entity.tiger,jdbcType=DOUBLE},
    #{entity.acl3r,jdbcType=VARCHAR}, #{entity.bankname,jdbcType=NVARCHAR}, #{entity.bankacct,jdbcType=VARCHAR},
    #{entity.photourl,jdbcType=NVARCHAR}, #{entity.passwordweb,jdbcType=NVARCHAR}, #{entity.targetd,jdbcType=CHAR},
    #{entity.targetw,jdbcType=CHAR}, #{entity.cellphoneid,jdbcType=VARCHAR}, #{entity.personalauthcode,jdbcType=VARCHAR},
    #{entity.nativet,jdbcType=NCHAR}, #{entity.brief,jdbcType=LONGVARCHAR}, #{entity.remark,jdbcType=LONGVARCHAR}
    )
  </insert>


  <delete id="deleteByExample" >
    use ${dbName}
    delete from Employee
    WHERE EmpID IN
    <foreach collection="employeeIds" item="employeeId" open="(" separator="," close=")">
      #{employeeId}
    </foreach>
  </delete>

  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"  parameterType="Map">
    use ${dbName}
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Employee
    <if test="employeeNos != null">
    WHERE EmpNo IN
    <foreach collection="employeeNos" item="employeeNo" open="(" separator="," close=")">
      #{employeeNo}
    </foreach>
    </if>
  </select>

  <select id="selectForPage" resultMap="ResultMapWithBLOBs"  parameterType="Map">
    <bind name="empname" value="'%' + request.empname + '%'" />
    <bind name="tel" value="'%' + request.tel + '%'" />
    use ${dbName}
    select top ${pageSize} *  from Employee where EmpID NOT IN  (
        select top ${start} EmpID from Employee
        <!--WHERE-->
            <!--<if test="request.sex != null">-->
              <!--Sex = #{request.sex}-->
            <!--</if>-->
            <!--<if test="request.status != null">-->
              <!--AND Status = #{request.status}-->
            <!--</if>-->
            <!--<if test="request.empname != null">-->
              <!--AND EmpName like #{empname}-->
            <!--</if>-->
            <!--<if test="request.tel != null">-->
              <!--AND Tel like #{tel}-->
            <!--</if>-->
    )
    <!--<if test="request.sex != null">-->
      <!--AND Sex = #{request.sex}-->
    <!--</if>-->
    <!--<if test="request.status != null">-->
      <!--AND Status = #{request.status}-->
    <!--</if>-->
    <!--<if test="request.empname != null">-->
      <!--AND EmpName like #{empname}-->
    <!--</if>-->
    <!--<if test="request.tel != null">-->
      <!--AND Tel like #{tel}-->
    <!--</if>-->
  </select>

  <update id="updateByExampleSelective" parameterType="map" >
    use ${dbName}
    update Employee
    <set >
      <if test="record.empname != null" >
        EmpName = #{record.empname,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptid != null" >
        DeptID = #{record.deptid,jdbcType=CHAR},
      </if>
      <if test="record.password != null" >
        Password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        Tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.moddate != null" >
        ModDate = #{record.moddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flagtrashed != null" >
        FlagTrashed = #{record.flagtrashed,jdbcType=BIT},
      </if>
      <if test="record.flagdeleted != null" >
        FlagDeleted = #{record.flagdeleted,jdbcType=BIT},
      </if>
      <if test="record.propertycols != null" >
        PropertyCols = #{record.propertycols,jdbcType=VARCHAR},
      </if>
      <if test="record.inquirycols != null" >
        InquiryCols = #{record.inquirycols,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.rollin != null" >
        RollIn = #{record.rollin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rollout != null" >
        RollOut = #{record.rollout,jdbcType=TIMESTAMP},
      </if>
      <if test="record.positionid != null" >
        PositionID = #{record.positionid,jdbcType=CHAR},
      </if>
      <if test="record.exdate != null" >
        ExDate = #{record.exdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null" >
        Sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.birthday != null" >
        Birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idcard != null" >
        IDCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        Address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        Education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.speciality != null" >
        Speciality = #{record.speciality,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMail = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.contractcols != null" >
        ContractCols = #{record.contractcols,jdbcType=VARCHAR},
      </if>
      <if test="record.pwddate != null" >
        PwdDate = #{record.pwddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signer != null" >
        Signer = #{record.signer,jdbcType=CHAR},
      </if>
      <if test="record.acl3 != null" >
        ACL3 = #{record.acl3,jdbcType=VARCHAR},
      </if>
      <if test="record.acl1 != null" >
        ACL1 = #{record.acl1,jdbcType=VARCHAR},
      </if>
      <if test="record.acl2 != null" >
        ACL2 = #{record.acl2,jdbcType=VARCHAR},
      </if>
      <if test="record.acl6 != null" >
        ACL6 = #{record.acl6,jdbcType=VARCHAR},
      </if>
      <if test="record.joindate != null" >
        JoinDate = #{record.joindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.folk != null" >
        Folk = #{record.folk,jdbcType=VARCHAR},
      </if>
      <if test="record.polity != null" >
        Polity = #{record.polity,jdbcType=VARCHAR},
      </if>
      <if test="record.graduate != null" >
        Graduate = #{record.graduate,jdbcType=VARCHAR},
      </if>
      <if test="record.techtitle != null" >
        TechTitle = #{record.techtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.archives != null" >
        Archives = #{record.archives,jdbcType=VARCHAR},
      </if>
      <if test="record.acl4 != null" >
        ACL4 = #{record.acl4,jdbcType=VARCHAR},
      </if>
      <if test="record.idio != null" >
        Idio = #{record.idio,jdbcType=VARCHAR},
      </if>
      <if test="record.awaydate != null" >
        AwayDate = #{record.awaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flagsalary != null" >
        FlagSalary = #{record.flagsalary,jdbcType=BIT},
      </if>
      <if test="record.source != null" >
        Source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.deptids != null" >
        DeptIDS = #{record.deptids,jdbcType=CHAR},
      </if>
      <if test="record.empids != null" >
        EmpIDS = #{record.empids,jdbcType=CHAR},
      </if>
      <if test="record.deptidz != null" >
        DeptIDZ = #{record.deptidz,jdbcType=CHAR},
      </if>
      <if test="record.empidz != null" >
        EmpIDZ = #{record.empidz,jdbcType=CHAR},
      </if>
      <if test="record.flagrollret != null" >
        FlagRollRet = #{record.flagrollret,jdbcType=BIT},
      </if>
      <if test="record.arrdate != null" >
        ArrDate = #{record.arrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arrange != null" >
        Arrange = #{record.arrange,jdbcType=NVARCHAR},
      </if>
      <if test="record.tiger != null" >
        Tiger = #{record.tiger,jdbcType=DOUBLE},
      </if>
      <if test="record.acl3r != null" >
        ACL3R = #{record.acl3r,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null" >
        BankName = #{record.bankname,jdbcType=NVARCHAR},
      </if>
      <if test="record.bankacct != null" >
        BankAcct = #{record.bankacct,jdbcType=VARCHAR},
      </if>
      <if test="record.photourl != null" >
        PhotoUrl = #{record.photourl,jdbcType=NVARCHAR},
      </if>
      <if test="record.passwordweb != null" >
        PassWordWeb = #{record.passwordweb,jdbcType=NVARCHAR},
      </if>
      <if test="record.targetd != null" >
        TargetD = #{record.targetd,jdbcType=CHAR},
      </if>
      <if test="record.targetw != null" >
        TargetW = #{record.targetw,jdbcType=CHAR},
      </if>
      <if test="record.cellphoneid != null" >
        CellPhoneID = #{record.cellphoneid,jdbcType=VARCHAR},
      </if>
      <if test="record.personalauthcode != null" >
        PersonalAuthCode = #{record.personalauthcode,jdbcType=VARCHAR},
      </if>
      <if test="record.nativet != null" >
        NativeT = #{record.nativet,jdbcType=NCHAR},
      </if>
      <if test="record.brief != null" >
        Brief = #{record.brief,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where EmpID = #{record.empid,jdbcType=CHAR}

  </update>

</mapper>
