<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swjtu.SYWeiServers.mapper.EstateMapper" >
  <resultMap id="BaseResultMap" type="com.swjtu.SYWeiServers.entity.Estate" >
    <result column="EstateID" property="estateid" jdbcType="CHAR" />
    <result column="EstateName" property="estatename" jdbcType="NVARCHAR" />
    <result column="CityName" property="cityname" jdbcType="NVARCHAR" />
    <result column="DistrictName" property="districtname" jdbcType="NVARCHAR" />
    <result column="AreaID" property="areaid" jdbcType="CHAR" />
    <result column="Spell" property="spell" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="NVARCHAR" />
    <result column="PropertyUsage" property="propertyusage" jdbcType="VARCHAR" />
    <result column="PropertyType" property="propertytype" jdbcType="VARCHAR" />
    <result column="CompleteYear" property="completeyear" jdbcType="VARCHAR" />
    <result column="DevCompany" property="devcompany" jdbcType="NVARCHAR" />
    <result column="MgtCompany" property="mgtcompany" jdbcType="NVARCHAR" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="MgtPrice" property="mgtprice" jdbcType="DECIMAL" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
    <result column="LandNo" property="landno" jdbcType="NVARCHAR" />
    <result column="LandGrade" property="landgrade" jdbcType="VARCHAR" />
    <result column="FrameWork" property="framework" jdbcType="VARCHAR" />
    <result column="MgtTel" property="mgttel" jdbcType="VARCHAR" />
    <result column="ModDate" property="moddate" jdbcType="TIMESTAMP" />
    <result column="FlagTrashed" property="flagtrashed" jdbcType="BIT" />
    <result column="FlagDeleted" property="flagdeleted" jdbcType="BIT" />
    <result column="ExDate" property="exdate" jdbcType="TIMESTAMP" />
    <result column="Doc1" property="doc1" jdbcType="VARCHAR" />
    <result column="Doc2" property="doc2" jdbcType="VARCHAR" />
    <result column="Doc3" property="doc3" jdbcType="VARCHAR" />
    <result column="Link1" property="link1" jdbcType="VARCHAR" />
    <result column="Link2" property="link2" jdbcType="VARCHAR" />
    <result column="Link3" property="link3" jdbcType="VARCHAR" />
    <result column="Address2" property="address2" jdbcType="VARCHAR" />
    <result column="DevTel" property="devtel" jdbcType="VARCHAR" />
    <result column="Room" property="room" jdbcType="SMALLINT" />
    <result column="Square" property="square" jdbcType="DOUBLE" />
    <result column="EstateNameE" property="estatenamee" jdbcType="VARCHAR" />
    <result column="AddressE" property="addresse" jdbcType="VARCHAR" />
    <result column="MapID" property="mapid" jdbcType="VARCHAR" />
    <result column="CoX" property="cox" jdbcType="INTEGER" />
    <result column="CoY" property="coy" jdbcType="INTEGER" />
    <result column="RoomRule" property="roomrule" jdbcType="INTEGER" />
    <result column="BuildingRule" property="buildingrule" jdbcType="BIT" />
    <result column="RoomRuleEx" property="roomruleex" jdbcType="VARCHAR" />
    <result column="Surface" property="surface" jdbcType="VARCHAR" />
    <result column="OwnYear" property="ownyear" jdbcType="VARCHAR" />
    <result column="EstateNameA" property="estatenamea" jdbcType="NVARCHAR" />
    <result column="FlagLocked" property="flaglocked" jdbcType="BIT" />
    <result column="PropertyMetro" property="propertymetro" jdbcType="NVARCHAR" />
    <result column="PropertyRing" property="propertyring" jdbcType="NVARCHAR" />
    <result column="RoomNoRule" property="roomnorule" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.swjtu.SYWeiServers.entity.Estate" extends="BaseResultMap" >
    <result column="Environment" property="environment" jdbcType="LONGVARCHAR" />
    <result column="Transportation" property="transportation" jdbcType="LONGVARCHAR" />
    <result column="Education" property="education" jdbcType="LONGVARCHAR" />
    <result column="Business" property="business" jdbcType="LONGVARCHAR" />
    <result column="Entertainment" property="entertainment" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    EstateID, EstateName, CityName, DistrictName, AreaID, Spell, Address, PropertyUsage, 
    PropertyType, CompleteYear, DevCompany, MgtCompany, Price, MgtPrice, Remark, LandNo, 
    LandGrade, FrameWork, MgtTel, ModDate, FlagTrashed, FlagDeleted, ExDate, Doc1, Doc2, 
    Doc3, Link1, Link2, Link3, Address2, DevTel, Room, Square, EstateNameE, AddressE, 
    MapID, CoX, CoY, RoomRule, BuildingRule, RoomRuleEx, Surface, OwnYear, EstateNameA, 
    FlagLocked, PropertyMetro, PropertyRing, RoomNoRule
  </sql>

  <sql id="Blob_Column_List" >
    Environment, Transportation, Education, Business, Entertainment
  </sql>

  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"  parameterType="Map" >
    use ${dbName}
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Estate
    <if test="estateIds != null">
      WHERE EstateID IN
      <foreach collection="estateId" item="estateId" open="(" separator="," close=")">
        #{estateId}
      </foreach>
    </if>
  </select>

  <select id="selectForPage" resultMap="ResultMapWithBLOBs"  parameterType="Map" >
    use ${dbName}
    select top ${pageSize} *  from Estate where EstateID NOT IN  (
      select top ${start} EstateID from Estate
    )
  </select>

  <select id="selectEstate" resultMap="ResultMapWithBLOBs"  >
    use ${dbName}
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Estate
    WHERE EstateName = #{estateName}
    AND Address = #{address}
  </select>

  <delete id="deleteByExample" parameterType="com.swjtu.SYWeiServers.entity.EstateExample" >
    use ${dbName}
    delete from Estate WHERE EstateID IN
    <foreach collection="estateIds" item="estateId" open="(" separator="," close=")">
      #{estateId}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.swjtu.SYWeiServers.entity.Estate" >
    use ${dbName}
    insert into Estate (EstateID, EstateName, CityName, 
      DistrictName, AreaID, Spell, 
      Address, PropertyUsage, PropertyType, 
      CompleteYear, DevCompany, MgtCompany, 
      Price, MgtPrice, Remark, 
      LandNo, LandGrade, FrameWork, 
      MgtTel, ModDate, FlagTrashed, 
      FlagDeleted, ExDate, Doc1, 
      Doc2, Doc3, Link1, 
      Link2, Link3, Address2, 
      DevTel, Room, Square, 
      EstateNameE, AddressE, MapID, 
      CoX, CoY, RoomRule, 
      BuildingRule, RoomRuleEx, Surface, 
      OwnYear, EstateNameA, FlagLocked, 
      PropertyMetro, PropertyRing, RoomNoRule, 
      Environment, Transportation, Education, 
      Business, Entertainment)
    values (#{entity.estateid,jdbcType=CHAR}, #{entity.estatename,jdbcType=NVARCHAR}, #{entity.cityname,jdbcType=NVARCHAR}, 
      #{entity.districtname,jdbcType=NVARCHAR}, #{entity.areaid,jdbcType=CHAR}, #{entity.spell,jdbcType=VARCHAR}, 
      #{entity.address,jdbcType=NVARCHAR}, #{entity.propertyusage,jdbcType=VARCHAR}, #{entity.propertytype,jdbcType=VARCHAR}, 
      #{entity.completeyear,jdbcType=VARCHAR}, #{entity.devcompany,jdbcType=NVARCHAR}, #{entity.mgtcompany,jdbcType=NVARCHAR}, 
      #{entity.price,jdbcType=DECIMAL}, #{entity.mgtprice,jdbcType=DECIMAL}, #{entity.remark,jdbcType=NVARCHAR},
      #{entity.landno,jdbcType=NVARCHAR}, #{entity.landgrade,jdbcType=VARCHAR}, #{entity.framework,jdbcType=VARCHAR}, 
      #{entity.mgttel,jdbcType=VARCHAR}, #{entity.moddate,jdbcType=TIMESTAMP}, #{entity.flagtrashed,jdbcType=BIT}, 
      #{entity.flagdeleted,jdbcType=BIT}, #{entity.exdate,jdbcType=TIMESTAMP}, #{entity.doc1,jdbcType=VARCHAR}, 
      #{entity.doc2,jdbcType=VARCHAR}, #{entity.doc3,jdbcType=VARCHAR}, #{entity.link1,jdbcType=VARCHAR}, 
      #{entity.link2,jdbcType=VARCHAR}, #{entity.link3,jdbcType=VARCHAR}, #{entity.address2,jdbcType=VARCHAR}, 
      #{entity.devtel,jdbcType=VARCHAR}, #{entity.room,jdbcType=SMALLINT}, #{entity.square,jdbcType=DOUBLE}, 
      #{entity.estatenamee,jdbcType=VARCHAR}, #{entity.addresse,jdbcType=VARCHAR}, #{entity.mapid,jdbcType=VARCHAR}, 
      #{entity.cox,jdbcType=INTEGER}, #{entity.coy,jdbcType=INTEGER}, #{entity.roomrule,jdbcType=INTEGER}, 
      #{entity.buildingrule,jdbcType=BIT}, #{entity.roomruleex,jdbcType=VARCHAR}, #{entity.surface,jdbcType=VARCHAR}, 
      #{entity.ownyear,jdbcType=VARCHAR}, #{entity.estatenamea,jdbcType=NVARCHAR}, #{entity.flaglocked,jdbcType=BIT}, 
      #{entity.propertymetro,jdbcType=NVARCHAR}, #{entity.propertyring,jdbcType=NVARCHAR}, #{entity.roomnorule,jdbcType=BIT}, 
      #{entity.environment,jdbcType=LONGVARCHAR}, #{entity.transportation,jdbcType=LONGVARCHAR}, #{entity.education,jdbcType=LONGVARCHAR}, 
      #{entity.business,jdbcType=LONGVARCHAR}, #{entity.entertainment,jdbcType=LONGVARCHAR})
  </insert>

  <select id="countByExample"  resultType="java.lang.Integer" >
    use ${dbName} select count(*) from Estate
  </select>

  <update id="updateByExampleSelective" parameterType="map" >
    use ${dbName}
    update Estate
    <set >
      <if test="record.estatename != null" >
        EstateName = #{record.estatename,jdbcType=NVARCHAR},
      </if>
      <if test="record.cityname != null" >
        CityName = #{record.cityname,jdbcType=NVARCHAR},
      </if>
      <if test="record.districtname != null" >
        DistrictName = #{record.districtname,jdbcType=NVARCHAR},
      </if>
      <if test="record.areaid != null" >
        AreaID = #{record.areaid,jdbcType=CHAR},
      </if>
      <if test="record.spell != null" >
        Spell = #{record.spell,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        Address = #{record.address,jdbcType=NVARCHAR},
      </if>
      <if test="record.propertyusage != null" >
        PropertyUsage = #{record.propertyusage,jdbcType=VARCHAR},
      </if>
      <if test="record.propertytype != null" >
        PropertyType = #{record.propertytype,jdbcType=VARCHAR},
      </if>
      <if test="record.completeyear != null" >
        CompleteYear = #{record.completeyear,jdbcType=VARCHAR},
      </if>
      <if test="record.devcompany != null" >
        DevCompany = #{record.devcompany,jdbcType=NVARCHAR},
      </if>
      <if test="record.mgtcompany != null" >
        MgtCompany = #{record.mgtcompany,jdbcType=NVARCHAR},
      </if>
      <if test="record.price != null" >
        Price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.mgtprice != null" >
        MgtPrice = #{record.mgtprice,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.landno != null" >
        LandNo = #{record.landno,jdbcType=NVARCHAR},
      </if>
      <if test="record.landgrade != null" >
        LandGrade = #{record.landgrade,jdbcType=VARCHAR},
      </if>
      <if test="record.framework != null" >
        FrameWork = #{record.framework,jdbcType=VARCHAR},
      </if>
      <if test="record.mgttel != null" >
        MgtTel = #{record.mgttel,jdbcType=VARCHAR},
      </if>
      <if test="record.moddate != null" >
        ModDate = #{record.moddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flagtrashed != null" >
        FlagTrashed = #{record.flagtrashed,jdbcType=BIT},
      </if>
      <if test="record.flagdeleted != null" >
        FlagDeleted = #{record.flagdeleted,jdbcType=BIT},
      </if>
      <if test="record.exdate != null" >
        ExDate = #{record.exdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.doc1 != null" >
        Doc1 = #{record.doc1,jdbcType=VARCHAR},
      </if>
      <if test="record.doc2 != null" >
        Doc2 = #{record.doc2,jdbcType=VARCHAR},
      </if>
      <if test="record.doc3 != null" >
        Doc3 = #{record.doc3,jdbcType=VARCHAR},
      </if>
      <if test="record.link1 != null" >
        Link1 = #{record.link1,jdbcType=VARCHAR},
      </if>
      <if test="record.link2 != null" >
        Link2 = #{record.link2,jdbcType=VARCHAR},
      </if>
      <if test="record.link3 != null" >
        Link3 = #{record.link3,jdbcType=VARCHAR},
      </if>
      <if test="record.address2 != null" >
        Address2 = #{record.address2,jdbcType=VARCHAR},
      </if>
      <if test="record.devtel != null" >
        DevTel = #{record.devtel,jdbcType=VARCHAR},
      </if>
      <if test="record.room != null" >
        Room = #{record.room,jdbcType=SMALLINT},
      </if>
      <if test="record.square != null" >
        Square = #{record.square,jdbcType=DOUBLE},
      </if>
      <if test="record.estatenamee != null" >
        EstateNameE = #{record.estatenamee,jdbcType=VARCHAR},
      </if>
      <if test="record.addresse != null" >
        AddressE = #{record.addresse,jdbcType=VARCHAR},
      </if>
      <if test="record.mapid != null" >
        MapID = #{record.mapid,jdbcType=VARCHAR},
      </if>
      <if test="record.cox != null" >
        CoX = #{record.cox,jdbcType=INTEGER},
      </if>
      <if test="record.coy != null" >
        CoY = #{record.coy,jdbcType=INTEGER},
      </if>
      <if test="record.roomrule != null" >
        RoomRule = #{record.roomrule,jdbcType=INTEGER},
      </if>
      <if test="record.buildingrule != null" >
        BuildingRule = #{record.buildingrule,jdbcType=BIT},
      </if>
      <if test="record.roomruleex != null" >
        RoomRuleEx = #{record.roomruleex,jdbcType=VARCHAR},
      </if>
      <if test="record.surface != null" >
        Surface = #{record.surface,jdbcType=VARCHAR},
      </if>
      <if test="record.ownyear != null" >
        OwnYear = #{record.ownyear,jdbcType=VARCHAR},
      </if>
      <if test="record.estatenamea != null" >
        EstateNameA = #{record.estatenamea,jdbcType=NVARCHAR},
      </if>
      <if test="record.flaglocked != null" >
        FlagLocked = #{record.flaglocked,jdbcType=BIT},
      </if>
      <if test="record.propertymetro != null" >
        PropertyMetro = #{record.propertymetro,jdbcType=NVARCHAR},
      </if>
      <if test="record.propertyring != null" >
        PropertyRing = #{record.propertyring,jdbcType=NVARCHAR},
      </if>
      <if test="record.roomnorule != null" >
        RoomNoRule = #{record.roomnorule,jdbcType=BIT},
      </if>
      <if test="record.environment != null" >
        Environment = #{record.environment,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.transportation != null" >
        Transportation = #{record.transportation,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.education != null" >
        Education = #{record.education,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.business != null" >
        Business = #{record.business,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.entertainment != null" >
        Entertainment = #{record.entertainment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE EstateID = #{record.estateid}
  </update>

</mapper>