<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swjtu.SYWeiServers.mapper.PropertyMapper" >
  <resultMap id="BaseResultMap" type="com.swjtu.SYWeiServers.entity.Property" >
    <id column="PropertyID" property="propertyid" jdbcType="CHAR" />
    <result column="CityName" property="cityname" jdbcType="NVARCHAR" />
    <result column="DistrictName" property="districtname" jdbcType="NVARCHAR" />
    <result column="EstateID" property="estateid" jdbcType="CHAR" />
    <result column="RoomNo" property="roomno" jdbcType="VARCHAR" />
    <result column="Floor" property="floor" jdbcType="INTEGER" />
    <result column="Trade" property="trade" jdbcType="NVARCHAR" />
    <result column="Status" property="status" jdbcType="NVARCHAR" />
    <result column="CountF" property="countf" jdbcType="VARCHAR" />
    <result column="CountT" property="countt" jdbcType="CHAR" />
    <result column="CountW" property="countw" jdbcType="CHAR" />
    <result column="CountY" property="county" jdbcType="CHAR" />
    <result column="Grade" property="grade" jdbcType="TINYINT" />
    <result column="PropertyUsage" property="propertyusage" jdbcType="VARCHAR" />
    <result column="PropertyType" property="propertytype" jdbcType="VARCHAR" />
    <result column="PropertyDirection" property="propertydirection" jdbcType="VARCHAR" />
    <result column="PropertyLook" property="propertylook" jdbcType="VARCHAR" />
    <result column="PropertyBuy" property="propertybuy" jdbcType="VARCHAR" />
    <result column="PropertyCommission" property="propertycommission" jdbcType="VARCHAR" />
    <result column="PropertySource" property="propertysource" jdbcType="VARCHAR" />
    <result column="Square" property="square" jdbcType="DOUBLE" />
    <result column="PriceUnit" property="priceunit" jdbcType="DECIMAL" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="PriceBase" property="pricebase" jdbcType="DECIMAL" />
    <result column="RentPriceUnit" property="rentpriceunit" jdbcType="DECIMAL" />
    <result column="RentPrice" property="rentprice" jdbcType="DECIMAL" />
    <result column="MgtPrice" property="mgtprice" jdbcType="DECIMAL" />
    <result column="TrustDate" property="trustdate" jdbcType="TIMESTAMP" />
    <result column="DeptID" property="deptid" jdbcType="CHAR" />
    <result column="EmpID" property="empid" jdbcType="CHAR" />
    <result column="PropertyDecoration" property="propertydecoration" jdbcType="VARCHAR" />
    <result column="PropertyFloor" property="propertyfloor" jdbcType="VARCHAR" />
    <result column="RegPerson" property="regperson" jdbcType="NVARCHAR" />
    <result column="RegDate" property="regdate" jdbcType="TIMESTAMP" />
    <result column="ModPerson" property="modperson" jdbcType="NVARCHAR" />
    <result column="ModDate" property="moddate" jdbcType="TIMESTAMP" />
    <result column="PropertyTrust" property="propertytrust" jdbcType="VARCHAR" />
    <result column="KeyNo" property="keyno" jdbcType="VARCHAR" />
    <result column="CompleteYear" property="completeyear" jdbcType="VARCHAR" />
    <result column="PropertyOccupy" property="propertyoccupy" jdbcType="VARCHAR" />
    <result column="PropertyOwn" property="propertyown" jdbcType="VARCHAR" />
    <result column="SquareUse" property="squareuse" jdbcType="DOUBLE" />
    <result column="LastFollowDate" property="lastfollowdate" jdbcType="TIMESTAMP" />
    <result column="FlagTrashed" property="flagtrashed" jdbcType="BIT" />
    <result column="FlagDeleted" property="flagdeleted" jdbcType="BIT" />
    <result column="OwnerName" property="ownername" jdbcType="NVARCHAR" />
    <result column="OwnerTel" property="ownertel" jdbcType="VARCHAR" />
    <result column="ContactName" property="contactname" jdbcType="NVARCHAR" />
    <result column="PropertyFurniture" property="propertyfurniture" jdbcType="VARCHAR" />
    <result column="PropertyNo" property="propertyno" jdbcType="VARCHAR" />
    <result column="PriceLine" property="priceline" jdbcType="DOUBLE" />
    <result column="RentPriceLine" property="rentpriceline" jdbcType="DOUBLE" />
    <result column="BuildNo" property="buildno" jdbcType="VARCHAR" />
    <result column="PropertyCertificate" property="propertycertificate" jdbcType="VARCHAR" />
    <result column="PropertyElectric" property="propertyelectric" jdbcType="VARCHAR" />
    <result column="ExDate" property="exdate" jdbcType="TIMESTAMP" />
    <result column="FloorAll" property="floorall" jdbcType="INTEGER" />
    <result column="HandOverDate" property="handoverdate" jdbcType="TIMESTAMP" />
    <result column="UnitName" property="unitname" jdbcType="VARCHAR" />
    <result column="RentUnitName" property="rentunitname" jdbcType="VARCHAR" />
    <result column="PhotoCount" property="photocount" jdbcType="INTEGER" />
    <result column="Usage1" property="usage1" jdbcType="DOUBLE" />
    <result column="Usage2" property="usage2" jdbcType="DOUBLE" />
    <result column="TrustNo" property="trustno" jdbcType="VARCHAR" />
    <result column="PropertyTax" property="propertytax" jdbcType="VARCHAR" />
    <result column="OwnerMobile" property="ownermobile" jdbcType="VARCHAR" />
    <result column="Country" property="country" jdbcType="VARCHAR" />
    <result column="DeptID1" property="deptid1" jdbcType="CHAR" />
    <result column="EmpID2" property="empid2" jdbcType="CHAR" />
    <result column="DeptID2" property="deptid2" jdbcType="CHAR" />
    <result column="EmpID1" property="empid1" jdbcType="CHAR" />
    <result column="Usage" property="usage" jdbcType="VARCHAR" />
    <result column="Privy" property="privy" jdbcType="SMALLINT" />
    <result column="FlagWeb" property="flagweb" jdbcType="BIT" />
    <result column="Word" property="word" jdbcType="NVARCHAR" />
    <result column="IDCard" property="idcard" jdbcType="VARCHAR" />
    <result column="PropertyDate" property="propertydate" jdbcType="TIMESTAMP" />
    <result column="RegulatoryNo" property="regulatoryno" jdbcType="NVARCHAR" />
    <result column="WebTitle" property="webtitle" jdbcType="NVARCHAR" />
    <result column="PropertyBrief" property="propertybrief" jdbcType="NVARCHAR" />
    <result column="DeptID3" property="deptid3" jdbcType="CHAR" />
    <result column="EmpID3" property="empid3" jdbcType="CHAR" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.swjtu.SYWeiServers.entity.Property" extends="BaseResultMap" >
    <result column="Remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="BusDatas" property="busdatas" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    PropertyID, CityName, DistrictName, EstateID, RoomNo, Floor, Trade, Status, CountF, 
    CountT, CountW, CountY, Grade, PropertyUsage, PropertyType, PropertyDirection, PropertyLook, 
    PropertyBuy, PropertyCommission, PropertySource, Square, PriceUnit, Price, PriceBase, 
    RentPriceUnit, RentPrice, MgtPrice, TrustDate, DeptID, EmpID, PropertyDecoration, 
    PropertyFloor, RegPerson, RegDate, ModPerson, ModDate, PropertyTrust, KeyNo, CompleteYear, 
    PropertyOccupy, PropertyOwn, SquareUse, LastFollowDate, FlagTrashed, FlagDeleted, 
    OwnerName, OwnerTel, ContactName, PropertyFurniture, PropertyNo, PriceLine, RentPriceLine, 
    BuildNo, PropertyCertificate, PropertyElectric, ExDate, FloorAll, HandOverDate, UnitName, 
    RentUnitName, PhotoCount, Usage1, Usage2, TrustNo, PropertyTax, OwnerMobile, Country, 
    DeptID1, EmpID2, DeptID2, EmpID1, Usage, Privy, FlagWeb, Word, IDCard, PropertyDate, 
    RegulatoryNo, WebTitle, PropertyBrief, DeptID3, EmpID3
  </sql>
  
  <sql id="Blob_Column_List" >
    Remark, BusDatas
  </sql>
  
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.swjtu.SYWeiServers.entity.PropertyExample" >
    use ${dbName} select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Property
    <if test="propertyIds != null">
      WHERE PropertyID IN
      <foreach collection="propertyId" item="propertyId" open="(" separator="," close=")">
        #{propertyId}
      </foreach>
    </if>
  </select>

  <select id="selectForPage" resultMap="ResultMapWithBLOBs"  parameterType="Map" >
    use ${dbName}
    select top ${pageSize} *  from Property where PropertyID NOT IN  (
    select top ${start} PropertyID from Property
    )
  </select>

  <select id="selectProperty" resultMap="ResultMapWithBLOBs"  >
    use ${dbName}
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Property
    WHERE RoomNo = #{roomNo}
  </select>
  
  <delete id="deleteByExample" parameterType="com.swjtu.SYWeiServers.entity.PropertyExample" >
    use ${dbName} delete from Property
    WHERE PropertyID IN
    <foreach collection="propertyIds" item="propertyId" open="(" separator="," close=")">
      #{propertyId}
    </foreach>
  </delete>
  
  <insert id="insert" parameterType="com.swjtu.SYWeiServers.entity.Property" >
    use ${dbName} insert into Property (PropertyID, CityName, DistrictName, 
      EstateID, RoomNo, Floor, 
      Trade, Status, CountF, 
      CountT, CountW, CountY, Grade, 
      PropertyUsage, PropertyType, PropertyDirection, 
      PropertyLook, PropertyBuy, PropertyCommission, 
      PropertySource, Square, PriceUnit, 
      Price, PriceBase, RentPriceUnit, 
      RentPrice, MgtPrice, TrustDate, 
      DeptID, EmpID, PropertyDecoration, 
      PropertyFloor, RegPerson, RegDate, 
      ModPerson, ModDate, PropertyTrust, 
      KeyNo, CompleteYear, PropertyOccupy, 
      PropertyOwn, SquareUse, LastFollowDate, 
      FlagTrashed, FlagDeleted, OwnerName, 
      OwnerTel, ContactName, PropertyFurniture, 
      PropertyNo, PriceLine, RentPriceLine, 
      BuildNo, PropertyCertificate, PropertyElectric, 
      ExDate, FloorAll, HandOverDate, 
      UnitName, RentUnitName, PhotoCount, 
      Usage1, Usage2, TrustNo, 
      PropertyTax, OwnerMobile, Country, 
      DeptID1, EmpID2, DeptID2, EmpID1, 
      Usage, Privy, FlagWeb, 
      Word, IDCard, PropertyDate, 
      RegulatoryNo, WebTitle, PropertyBrief, 
      DeptID3, EmpID3, Remark, 
      BusDatas)
    values (#{entity.propertyid,jdbcType=CHAR}, #{entity.cityname,jdbcType=NVARCHAR}, #{entity.districtname,jdbcType=NVARCHAR}, 
      #{entity.estateid,jdbcType=CHAR}, #{entity.roomno,jdbcType=VARCHAR}, #{entity.floor,jdbcType=INTEGER}, 
      #{entity.trade,jdbcType=NVARCHAR}, #{entity.status,jdbcType=NVARCHAR}, #{entity.countf,jdbcType=VARCHAR}, 
      #{entity.countt,jdbcType=CHAR}, #{entity.countw,jdbcType=CHAR}, #{entity.county,jdbcType=CHAR}, #{entity.grade,jdbcType=TINYINT}, 
      #{entity.propertyusage,jdbcType=VARCHAR}, #{entity.propertytype,jdbcType=VARCHAR}, #{entity.propertydirection,jdbcType=VARCHAR}, 
      #{entity.propertylook,jdbcType=VARCHAR}, #{entity.propertybuy,jdbcType=VARCHAR}, #{entity.propertycommission,jdbcType=VARCHAR}, 
      #{entity.propertysource,jdbcType=VARCHAR}, #{entity.square,jdbcType=DOUBLE}, #{entity.priceunit,jdbcType=DECIMAL}, 
      #{entity.price,jdbcType=DECIMAL}, #{entity.pricebase,jdbcType=DECIMAL}, #{entity.rentpriceunit,jdbcType=DECIMAL}, 
      #{entity.rentprice,jdbcType=DECIMAL}, #{entity.mgtprice,jdbcType=DECIMAL}, #{entity.trustdate,jdbcType=TIMESTAMP}, 
      #{entity.deptid,jdbcType=CHAR}, #{entity.empid,jdbcType=CHAR}, #{entity.propertydecoration,jdbcType=VARCHAR}, 
      #{entity.propertyfloor,jdbcType=VARCHAR}, #{entity.regperson,jdbcType=NVARCHAR}, #{entity.regdate,jdbcType=TIMESTAMP}, 
      #{entity.modperson,jdbcType=NVARCHAR}, #{entity.moddate,jdbcType=TIMESTAMP}, #{entity.propertytrust,jdbcType=VARCHAR}, 
      #{entity.keyno,jdbcType=VARCHAR}, #{entity.completeyear,jdbcType=VARCHAR}, #{entity.propertyoccupy,jdbcType=VARCHAR}, 
      #{entity.propertyown,jdbcType=VARCHAR}, #{entity.squareuse,jdbcType=DOUBLE}, #{entity.lastfollowdate,jdbcType=TIMESTAMP}, 
      #{entity.flagtrashed,jdbcType=BIT}, #{entity.flagdeleted,jdbcType=BIT}, #{entity.ownername,jdbcType=NVARCHAR}, 
      #{entity.ownertel,jdbcType=VARCHAR}, #{entity.contactname,jdbcType=NVARCHAR}, #{entity.propertyfurniture,jdbcType=VARCHAR}, 
      #{entity.propertyno,jdbcType=VARCHAR}, #{entity.priceline,jdbcType=DOUBLE}, #{entity.rentpriceline,jdbcType=DOUBLE}, 
      #{entity.buildno,jdbcType=VARCHAR}, #{entity.propertycertificate,jdbcType=VARCHAR}, #{entity.propertyelectric,jdbcType=VARCHAR}, 
      #{entity.exdate,jdbcType=TIMESTAMP}, #{entity.floorall,jdbcType=INTEGER}, #{entity.handoverdate,jdbcType=TIMESTAMP}, 
      #{entity.unitname,jdbcType=VARCHAR}, #{entity.rentunitname,jdbcType=VARCHAR}, #{entity.photocount,jdbcType=INTEGER}, 
      #{entity.usage1,jdbcType=DOUBLE}, #{entity.usage2,jdbcType=DOUBLE}, #{entity.trustno,jdbcType=VARCHAR}, 
      #{entity.propertytax,jdbcType=VARCHAR}, #{entity.ownermobile,jdbcType=VARCHAR}, #{entity.country,jdbcType=VARCHAR}, 
      #{entity.deptid1,jdbcType=CHAR}, #{entity.empid2,jdbcType=CHAR}, #{entity.deptid2,jdbcType=CHAR}, #{entity.empid1,jdbcType=CHAR}, 
      #{entity.usage,jdbcType=VARCHAR}, #{entity.privy,jdbcType=SMALLINT}, #{entity.flagweb,jdbcType=BIT}, 
      #{entity.word,jdbcType=NVARCHAR}, #{entity.idcard,jdbcType=VARCHAR}, #{entity.propertydate,jdbcType=TIMESTAMP}, 
      #{entity.regulatoryno,jdbcType=NVARCHAR}, #{entity.webtitle,jdbcType=NVARCHAR}, #{entity.propertybrief,jdbcType=NVARCHAR},
      #{entity.deptid3,jdbcType=CHAR}, #{entity.empid3,jdbcType=CHAR}, #{entity.remark,jdbcType=LONGVARCHAR}, 
      #{entity.busdatas,jdbcType=LONGVARCHAR})
  </insert>
  
  <select id="countByExample" parameterType="com.swjtu.SYWeiServers.entity.PropertyExample" resultType="java.lang.Integer" >
    select count(*) from Property
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    use ${dbName} update Property
    <set >
      <if test="record.propertyid != null" >
        PropertyID = #{record.propertyid,jdbcType=CHAR},
      </if>
      <if test="record.cityname != null" >
        CityName = #{record.cityname,jdbcType=NVARCHAR},
      </if>
      <if test="record.districtname != null" >
        DistrictName = #{record.districtname,jdbcType=NVARCHAR},
      </if>
      <if test="record.estateid != null" >
        EstateID = #{record.estateid,jdbcType=CHAR},
      </if>
      <if test="record.floor != null" >
        Floor = #{record.floor,jdbcType=INTEGER},
      </if>
      <if test="record.trade != null" >
        Trade = #{record.trade,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.countf != null" >
        CountF = #{record.countf,jdbcType=VARCHAR},
      </if>
      <if test="record.countt != null" >
        CountT = #{record.countt,jdbcType=CHAR},
      </if>
      <if test="record.countw != null" >
        CountW = #{record.countw,jdbcType=CHAR},
      </if>
      <if test="record.county != null" >
        CountY = #{record.county,jdbcType=CHAR},
      </if>
      <if test="record.grade != null" >
        Grade = #{record.grade,jdbcType=TINYINT},
      </if>
      <if test="record.propertyusage != null" >
        PropertyUsage = #{record.propertyusage,jdbcType=VARCHAR},
      </if>
      <if test="record.propertytype != null" >
        PropertyType = #{record.propertytype,jdbcType=VARCHAR},
      </if>
      <if test="record.propertydirection != null" >
        PropertyDirection = #{record.propertydirection,jdbcType=VARCHAR},
      </if>
      <if test="record.propertylook != null" >
        PropertyLook = #{record.propertylook,jdbcType=VARCHAR},
      </if>
      <if test="record.propertybuy != null" >
        PropertyBuy = #{record.propertybuy,jdbcType=VARCHAR},
      </if>
      <if test="record.propertycommission != null" >
        PropertyCommission = #{record.propertycommission,jdbcType=VARCHAR},
      </if>
      <if test="record.propertysource != null" >
        PropertySource = #{record.propertysource,jdbcType=VARCHAR},
      </if>
      <if test="record.square != null" >
        Square = #{record.square,jdbcType=DOUBLE},
      </if>
      <if test="record.priceunit != null" >
        PriceUnit = #{record.priceunit,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null" >
        Price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.pricebase != null" >
        PriceBase = #{record.pricebase,jdbcType=DECIMAL},
      </if>
      <if test="record.rentpriceunit != null" >
        RentPriceUnit = #{record.rentpriceunit,jdbcType=DECIMAL},
      </if>
      <if test="record.rentprice != null" >
        RentPrice = #{record.rentprice,jdbcType=DECIMAL},
      </if>
      <if test="record.mgtprice != null" >
        MgtPrice = #{record.mgtprice,jdbcType=DECIMAL},
      </if>
      <if test="record.trustdate != null" >
        TrustDate = #{record.trustdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deptid != null" >
        DeptID = #{record.deptid,jdbcType=CHAR},
      </if>
      <if test="record.empid != null" >
        EmpID = #{record.empid,jdbcType=CHAR},
      </if>
      <if test="record.propertydecoration != null" >
        PropertyDecoration = #{record.propertydecoration,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyfloor != null" >
        PropertyFloor = #{record.propertyfloor,jdbcType=VARCHAR},
      </if>
      <if test="record.regperson != null" >
        RegPerson = #{record.regperson,jdbcType=NVARCHAR},
      </if>
      <if test="record.regdate != null" >
        RegDate = #{record.regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modperson != null" >
        ModPerson = #{record.modperson,jdbcType=NVARCHAR},
      </if>
      <if test="record.moddate != null" >
        ModDate = #{record.moddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.propertytrust != null" >
        PropertyTrust = #{record.propertytrust,jdbcType=VARCHAR},
      </if>
      <if test="record.keyno != null" >
        KeyNo = #{record.keyno,jdbcType=VARCHAR},
      </if>
      <if test="record.completeyear != null" >
        CompleteYear = #{record.completeyear,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyoccupy != null" >
        PropertyOccupy = #{record.propertyoccupy,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyown != null" >
        PropertyOwn = #{record.propertyown,jdbcType=VARCHAR},
      </if>
      <if test="record.squareuse != null" >
        SquareUse = #{record.squareuse,jdbcType=DOUBLE},
      </if>
      <if test="record.lastfollowdate != null" >
        LastFollowDate = #{record.lastfollowdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flagtrashed != null" >
        FlagTrashed = #{record.flagtrashed,jdbcType=BIT},
      </if>
      <if test="record.flagdeleted != null" >
        FlagDeleted = #{record.flagdeleted,jdbcType=BIT},
      </if>
      <if test="record.ownername != null" >
        OwnerName = #{record.ownername,jdbcType=NVARCHAR},
      </if>
      <if test="record.ownertel != null" >
        OwnerTel = #{record.ownertel,jdbcType=VARCHAR},
      </if>
      <if test="record.contactname != null" >
        ContactName = #{record.contactname,jdbcType=NVARCHAR},
      </if>
      <if test="record.propertyfurniture != null" >
        PropertyFurniture = #{record.propertyfurniture,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyno != null" >
        PropertyNo = #{record.propertyno,jdbcType=VARCHAR},
      </if>
      <if test="record.priceline != null" >
        PriceLine = #{record.priceline,jdbcType=DOUBLE},
      </if>
      <if test="record.rentpriceline != null" >
        RentPriceLine = #{record.rentpriceline,jdbcType=DOUBLE},
      </if>
      <if test="record.buildno != null" >
        BuildNo = #{record.buildno,jdbcType=VARCHAR},
      </if>
      <if test="record.propertycertificate != null" >
        PropertyCertificate = #{record.propertycertificate,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyelectric != null" >
        PropertyElectric = #{record.propertyelectric,jdbcType=VARCHAR},
      </if>
      <if test="record.exdate != null" >
        ExDate = #{record.exdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.floorall != null" >
        FloorAll = #{record.floorall,jdbcType=INTEGER},
      </if>
      <if test="record.handoverdate != null" >
        HandOverDate = #{record.handoverdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.unitname != null" >
        UnitName = #{record.unitname,jdbcType=VARCHAR},
      </if>
      <if test="record.rentunitname != null" >
        RentUnitName = #{record.rentunitname,jdbcType=VARCHAR},
      </if>
      <if test="record.photocount != null" >
        PhotoCount = #{record.photocount,jdbcType=INTEGER},
      </if>
      <if test="record.usage1 != null" >
        Usage1 = #{record.usage1,jdbcType=DOUBLE},
      </if>
      <if test="record.usage2 != null" >
        Usage2 = #{record.usage2,jdbcType=DOUBLE},
      </if>
      <if test="record.trustno != null" >
        TrustNo = #{record.trustno,jdbcType=VARCHAR},
      </if>
      <if test="record.propertytax != null" >
        PropertyTax = #{record.propertytax,jdbcType=VARCHAR},
      </if>
      <if test="record.ownermobile != null" >
        OwnerMobile = #{record.ownermobile,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        Country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.deptid1 != null" >
        DeptID1 = #{record.deptid1,jdbcType=CHAR},
      </if>
      <if test="record.empid2 != null" >
        EmpID2 = #{record.empid2,jdbcType=CHAR},
      </if>
      <if test="record.deptid2 != null" >
        DeptID2 = #{record.deptid2,jdbcType=CHAR},
      </if>
      <if test="record.empid1 != null" >
        EmpID1 = #{record.empid1,jdbcType=CHAR},
      </if>
      <if test="record.usage != null" >
        Usage = #{record.usage,jdbcType=VARCHAR},
      </if>
      <if test="record.privy != null" >
        Privy = #{record.privy,jdbcType=SMALLINT},
      </if>
      <if test="record.flagweb != null" >
        FlagWeb = #{record.flagweb,jdbcType=BIT},
      </if>
      <if test="record.word != null" >
        Word = #{record.word,jdbcType=NVARCHAR},
      </if>
      <if test="record.idcard != null" >
        IDCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.propertydate != null" >
        PropertyDate = #{record.propertydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regulatoryno != null" >
        RegulatoryNo = #{record.regulatoryno,jdbcType=NVARCHAR},
      </if>
      <if test="record.webtitle != null" >
        WebTitle = #{record.webtitle,jdbcType=NVARCHAR},
      </if>
      <if test="record.propertybrief != null" >
        PropertyBrief = #{record.propertybrief,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptid3 != null" >
        DeptID3 = #{record.deptid3,jdbcType=CHAR},
      </if>
      <if test="record.empid3 != null" >
        EmpID3 = #{record.empid3,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.busdatas != null" >
        BusDatas = #{record.busdatas,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE PropertyID = #{record.propertyid}
  </update>
  
</mapper>